html, body {
	background: var(--bg-color);
}

button.btn {
	--o-justify: var(--btn-justify, center);
	--o-bg: var(--btn-bg-color, gray);
	--o-fg: var(--btn-text-color, var(--text-color));
	--o-size: var(--btn-text-size , 1em);
	--o-outline: var(--btn-outline, 1px solid transparent);
	--o-brightness: var(--btn-brightness, 1);
	--o-saturation: var(--btn-saturation, 1);
	--o-contrast: var(--btn-contrast, 1);
	all: revert;
	background-color: var(--o-bg);
	color: var(--o-fg, var(--text-color));
	font-size: var(--o-size);
	border: var(--o-outline);
	filter: saturate(var(--o-saturation)) brightness(var(--o-brightness));
	justify-content: var(--o-justify);
	height: calc(var(--o-size) * 2.25);
	padding: 0 0.75em;
	border-radius: 4px;
	cursor: pointer;
	outline: none;
	display: flex;
	align-items: center;
}

.btn:disabled { cursor: not-allowed; --btn-brightness: 0.6; --btn-saturation: 0.2 }
.btn:not(:disabled):hover { --btn-brightness: 1.25 }
.btn:not(:disabled):focus { --btn-outline: 1px solid var(--o-fg) }

/* Primary Button */
.btn.btn--primary { --btn-bg-color: var(--primary-color) }
.btn.btn--primary:not(:disabled):hover { --btn-saturation: 1.5 }

/* Danger Button */
.btn.btn--destructive { --btn-bg-color: var(--negative-color) }
.btn.btn--destructive:not(:disabled):hover { --btn-saturation: 1.5 }

.btn.btn--outline {
	--btn-bg-color: transparent;
	--btn-text-color: white;
	--btn-outline: 1px solid #ffffff20;
}

.btn.btn--outline:hover:not(:disabled) { --btn-bg-color: #ffffff10 }

.dialog {
  padding: 1em;
  border-radius: 6px;
}

.dialog-actions {
  display: grid;
  place-items: end;
  grid-template-columns: max-content max-content;
}

.dlist {
  --dd-text-color: #ffffff;
  --dt-text-color: #ffffff50;
  --dt-size: 0.8em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
  background: #00000020;
  border-radius: 4px;
}
.dlist > div {
  padding: 0.5em;
}

.dlist dd { color: var(--dd-text-color) }
.dlist dt {
  color: var(--dt-text-color);
  font-size: var(--dt-size);
}

.metadata {
  --x-dl-bg: var(--dl-bg)
  --x-dt-color: var(--dt-color);
  --x-dd-color: var(--dd-color);
  --x-dd-size: var(--dd-size);
  background: var(--x-dl-bg, #00000020);
  padding: 1em 1.2em;
  border-radius: 4px;
}

.metadata dt {
  color: var(--x-dt-color, #ffffff50);
  font-size: 0.8em;
}

.metadata dd {
  color: var(--x-dd-color, #ffffff);
  font-weight: 600;
  padding-bottom: 0.75em;
}

.metadata--rpc {
	--dl-bg: red;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(6, min-content);
  grid-template-columns: max-content max-content;
}

.metadata--rpc dt:first-of-type { grid-column: span 2 }
.metadata--rpc dd:first-of-type { grid-column: span 2 }
.metadata--rpc dt:nth-of-type(1n+4) { text-align: right }
.metadata--rpc dd:nth-of-type(1n+4) { text-align: right }

.split-section {
	--fg-color: #ffffff30;
	--label-size: 0.9em;
	color: var(--fg-color);
	font-size: var(--label-size);
	display: grid;
	grid-template-columns: max-content 1fr;
	gap: 0.5em;
	align-items: center;
	padding: 1em;
}

.split-section hr {
	margin: 0;
	background-color: var(--fg-color);
	height: 1px;
}

.listing {
	--c-item-bg-color: var(--list-item-bg-color, #ffffff10);
	--c-text-color: var(--list-text-color, #ffffff80);
	--c-text-size: var(--list-text-size, 0.85rem);
	display: grid;
	row-gap: 0.4em;
	padding: 0 1em;
}

.listing li {
	background: var(--c-item-bg-color);
	align-items: center;
	margin: 0;
	border-radius: 4px;
}

.listing dd {
	color: var(--c-text-color);
	font-size: var(--c-text-size);
}

.listing.listing--rpc li {
	display: grid;
	grid-template-columns: 1fr max-content;
	column-gap: 1em;
	padding: 0.5em 1em;
}
.listing.listing--rpc dl {
	display: grid;
	grid-template-columns: 1fr max-content;
	grid-auto-flow: row;
	align-items: center;
}
.listing.listing--rpc dt { display: none }
.listing.listing--rpc dd:first-of-type {
	font-weight: bold;
	color: #ffffff;
	font-size: 1rem;
}
.listing.listing--rpc dd:nth-child(4) {
	grid-row: span 2 / span 2;
}

.listing.listing--rpc .btn {
	--btn-text-size: 0.75rem;
	font-weight: bold;
}
